!!! 5
html(lang="en")
	head
		title= title
		link(type="text/css", href="/style/styles.css", media="screen", rel="stylesheet")		
		script(src='/js/drawCanvas.js')
	body
		header.header
		.body!= body
		footer.footer
	